<html>

<head>
<title>Kartin's CV</title>
</head>

<body>

<p>Martin's CV</p>

<h2>Education</h2>
<ul>
<li><b>2015 - 2019 B.A. McGill University</b> Major in Urban Systems Geography and Minor in GIS and Environmental Studies</li>
</ul>

<h2>Skills</h2>
<ul>
<li><b>Data cleaning and wrangling with R (ETL):</b> with dplyr and tidyverse software packages.</li>
<li><b>Data visualisation with R:</b> see https://twitter.com/NehMartin for #TidyTuesdays examples.</li>
<li><b>Dynamic and interactive reports</b> with R markdown.</li>
<li><b>Git</b></li>
<li><b>Critical thinking in AI ethics </b> i.e. a healthy skepticism of published knowledge</li>
<li><b>LaTeX???</b></li>
<li><b>GIS software packages</b> ArcMap and ENVI</li>
</ul>


</body>
</html>
